@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Dancing+Script:wght@400..700&family=Sedan:ital@0;1&display=swap');

body {
  font-family: "DM Serif Display", serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background: url('pexels-leonardho-1552249.jpg');
  color:aliceblue;
}
.left {
  display: inline-block;
  position: absolute;
  left: 40px;
  top: 20px;

}
.right {
  position: absolute;
  right: 34px;
  top: 35px;
  display:inline-block;
 
  
}
.mid {
  display: block;
  width: 36%;
  margin: 20px auto;

}
.navbar {
  display: inline-block;
}
.navbar li {
  display: inline-block;
  font-size: 21px;
}
.navbar li a {
  color:white;
  text-decoration: none;
  padding: 10px 5px;
}
.navbar li a:hover, .navbar li a.active{
  text-decoration: underline;
  color:rgb(215, 220, 110);
}
.left img{
  filter: invert(100%);
  width: 37px;
}
.left div{
  line-height: 12px;
  text-align: center;
}
.btn{
  margin:0px 9px;
  background-color:black ;
  color:aliceblue;
  padding: 4px 14px;
  border: 2px solid gray;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  font-family: "DM Serif Display", serif;
}
.btn:hover{
  background-color: rgb(101, 106, 109);
}
.container{
  border: 2px solid white;
  margin: 75px 70px;
  padding: 30px 30px;
  width: 37%;
  border-radius: 10px;
}
.form-group input{
  text-align: center;
  display: block;
  width: 80%;
  padding: 5px;
  border: 1px solid black;
  margin: 10px auto;
  font-size: 18px;
  border-bottom: 10px;
  font-family: "DM Serif Display", serif;
}
.container h1 {
  text-align: center;
}
.container button{
  display: block;
  margin:  23px auto;
  width: 83%;

  text-align: center;
}
